@import url("style.css");
@import url("second-section.css");

.fourth-section .results-description{
    font-display: flex;
    text-align: center;
    margin-bottom: 40px;
}

.profile-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 900;
    color: var(--second-color);
}
.profile-picture img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 3px solid var(--third-color);
    border-right: 3px dashed var(--third-color);
    border-bottom: 3px dotted var(--third-color);
    border-left: 3px double var(--third-color);
    padding: 10px;
    /* animation: rotateImage 100s linear infinite; */
    box-shadow: 0 0 8px var(--seventh1-color), 0 0 15px var(--seventh1-color), 0 0 20px var(--seventh1-color);
}
.profile-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.profile-bottom p{
    font-size: 15px;
    text-align: left;
    font-family: "Roboto", sans-serif;
}
.testimonials{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.klinic-fourth{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    justify-content: center;
    align-items: center;
    
}
.fifth-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: stretch;
}
.fifth-top{
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
.fifth-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    flex-wrap: nowrap;
}
.fifth-left img{
    width: 50%;
}
.fifth-left, .fifth-right{
    background: var(--sixth-color);
    border: 1px solid var(--third-color);
    border-radius: 10px;
    height: 300px;
    padding: 20px;
    max-width: 100vh;



}
.desc{
    font-family: sans-serif;
    color: var(--third-color);
}
@media (max-width: 1100px) {  /* Use a colon (:) instead of an equal sign (=) */
    .fifth-top {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
}
.fifth-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: inherit;
}


.language-icons-anime{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.anime-icon{
    border: 1px solid var(--third-color);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-family: sans-serif;
    color: var(--third-color);
}
.tops-animes{
    display: flex;
    gap: 10px;

}
.top-anime{
    display: flex;
    gap: 10px;

}

.anime1{
    animation:  overFlow 5s linear infinite;

}
@keyframes overFlow{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translate(-28%);
    }
}
.anime2{
    animation:  overFllow 5s linear infinite;

}
@keyframes overFllow{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translate(28%);
    }
}

.hobby{
    background: var(--eighth-color);
    padding: 5px 10px;
    color: var(--main-color);
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 600;
    transform: rotate(calc(10deg - (20deg * var(--random-rotation))));
    
    
}
.fifth-bottom{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80vw;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
.sixth-section{
    width: 80vw;
    color: var(--main-color);
    background: var(--eighth-color);
    padding: 20px;
    border-radius: 10px;
    
}
.sixth-section p{
    font-family: sans-serif;
}
.contact{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
}
.contact-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-me{
    color: var(--second-color);
    font-family: sans-serif;
    font-weight: 600;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}
.contact-me svg{
    rotate: 45deg;
}

@media (max-width: 900px){
    .contact{
        display: flex !important;
        flex-direction: column;
    }
}

.seventh-section{
    display: flex;
    width: 80vw;

    flex-direction: column;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: var(--third-color);
    font-weight: 500;
    word-break: 5px;
}
.socials{
    display: flex;
    font-family: sans-serif;
    gap: 10px;

}
.social{
    display: flex;
    align-items: center;
}
.social svg{
    rotate: 45deg;
}
@media (max-width: 700px){
    .footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .socials{
        display: flex;
        flex-direction: column;  
    }
}


