@import url("style.css");
@import url("second-section.css");

.fourth-section .results-description{
    font-display: flex;
    text-align: center;
    margin-bottom: 40px;
}

.profile-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 900;
    color: var(--second-color);
}
.profile-picture img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 3px solid var(--third-color);
    border-right: 3px dashed var(--third-color);
    border-bottom: 3px dotted var(--third-color);
    border-left: 3px double var(--third-color);
    padding: 10px;
    /* animation: rotateImage 100s linear infinite; */
    box-shadow: 0 0 8px var(--seventh1-color), 0 0 15px var(--seventh1-color), 0 0 20px var(--seventh1-color);
}
.profile-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.profile-bottom p{
    font-size: 15px;
    text-align: left;
    font-family: "Roboto", sans-serif;
}
.testimonials{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.klinic-fourth{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    justify-content: center;
    align-items: center;
    
}
.klinic-fourth1 .language-buttons{
    display: flex;
    white-space: nowrap;
    position: relative;
    flex-direction: column;
    max-width: 550px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.klinic-fourth1 img{
    height: 50%;
    width: 50%;
    object-fit: cover;

}
.fifth-top{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.language-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Roboto", sans-serif;

}
.language-icons1{
    display: flex;
    gap: 10px;
}
.language-icon{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 18px;
    border: 1px solid ;
    color: var(--third-color);
    margin: 0 10px;

}

.scrolling-row{
    display: flex;
    gap: 10px;
}
.icons1{
    display: flex;
    width: max-content;
    animation: scrollRow 10s linear infinite;
}
@keyframes scrollRow {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30%);
    }
}
.icons2{
    display: flex;
    width: max-content;
    animation: scrolRow 20s linear infinite;
}
@keyframes scrolRow {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(30%);
    }
}
.fith-section-subsections{
    display: flex;
    align-items: center;
    justify-content: center;
}